// swiper
@import "swiper/css";
@import "swiper/css/free-mode";
@import "swiper/css/navigation";
@import "swiper/css/thumbs";

// swiper
.swiper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  .swiper-slide {
    text-align: center;
    background: #fff;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
